@using CMSPlus.Domain.Models.TopicModels
@model CMSPlus.Domain.Models.TopicModels.BlogGetViewViewModel

@{
        Layout = "_Layout";
}
<h1>@ViewData["Title"].</h1>
<div class="container m-3">
    <h1 class="row-12 text-black">@Model.Title</h1>
    <div class="row">
        <p class="col-6 text-start text-black-50">Updated: @Model.UpdatedOnUtc</p>
        <p class="col-6 text-end text-black-50">Created: @Model.CreatedOnUtc</p>
    </div>
    <p class="row-12 text-black">@Html.Raw(Model.Body)</p>
    <div class="row">
        <p class="col-12 text-black-50 text-end">System name: @Model.SystemName</p>
    </div>
</div>
<div class="container mt-3">
    <h5 class="text-black">Add new comment:</h5>
    @Html.Partial("_BlogCommentFormPartial",new BlogCommentCreateViewModel(){BlogId = Model.Id})
</div>

<div class="container my-3">
    <h5 class="text-black">Comment section</h5>
</div>

@foreach (var comment in Model.Comments)
{
    <div class="container m-2 border rounded-1">
        <div class="row">
            <p class="text-bold text-start mt-1 col-6" style="font-weight: bold">@comment.Username</p>
            <p class="text-black-50 text-end mt-1 col-6">Updated: @comment.UpdatedOnUtc</p>
        </div>
        <p class="text-dark">@Html.Raw(comment.Body)</p>
    </div>
}



    

