@using CMSPlus.Presentation.Models.BlogModels;
@model BlogGetViewViewModel

@{
    Layout = "_Layout";
}
<div class="container m-3">
    <h1 class="col-6 text-black">@Model.Title</h1>

    <div class="row">
        @if (!string.IsNullOrEmpty(Model.Author))
        {
            <p class="text-black-50 col-6">Author: @Model.Author</p>
        }
        <p class="text-black-50 col-3">Created: @Model.CreatedOnUtc</p>
        <p class="text-black-50 col-3">Updated: @Model.UpdatedOnUtc</p>
    </div>
    <p class="row-12 text-black">@Html.Raw(Model.Body)</p>
    <div class="row">
        <p class="col-12 text-black-50 text-end">System name: @Model.SystemName</p>
    </div>
</div>

<div class="container mt-3">
    <h5 class="text-black">Add new comment:</h5>
    @Html.Partial("_BlogCommentFormPartial", new BlogCommentCreateViewModel() { BlogId = Model.Id })
</div>

<div class="container my-3">
    <h5 class="text-black">Comment section</h5>
</div>

@foreach (var comment in Model.Comments)
{
    @Html.Partial("_CommentPartial", comment)
}