@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CMSPlus.Domain.Models.TopicModels.BlogGetViewViewModel>
@inject IAuthorizationService AuthorizationService
@{
    Layout = "_Layout";
}
<div class="container mt-3">
    <div class="row">
        <h1 class="col-6 text-black-50">Blogs</h1>
        <div class="col-6 text-end">
            <a class="btn btn-primary text-center px-2 mx-3" style="width: 10%" asp-controller="Blog" asp-action="Create">Create</a>
        </div>
        
    </div>
    <hr/>
    @foreach (var blog in Model)
    {
        <div class="col mt-3 border rounded">
            <h1 class="row-12 text-center mt-2">@blog.Title</h1>
            <hr class="m-3"/>
            <div class="row mx-2">
                <p class="text-black-50 col-6">Created: @blog.CreatedOnUtc</p>
                <p class="text-black-50 col-6 text-end">Updated: @blog.UpdatedOnUtc</p>
            </div>
            <div class="row-12 text-end m-2">
                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Blog.Edit).Result.Succeeded)
                {
                    <a asp-controller="Blog" asp-action="Edit" asp-route-id="@blog.Id" class="btn btn-primary m-auto">Edit</a>
                }
                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Blog.Delete).Result.Succeeded)
                {
                    <a asp-controller="Blog" asp-action="Delete" asp-route-id="@blog.Id" class="btn btn-primary m-auto">Delete</a>
                }
                <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id" class="btn btn-primary m-auto">Details</a>
                </div>
        </div>
    }
</div>